.align-left {
    text-align: left;
    width: 90%;
}

.big-margin-bottom {
    margin-bottom: 200px !important;
}

.bigger-margin-bottom {
    margin-bottom: 280px !important;
}

.blog-images {
    width: 55%;
    flex-shrink: 1;
}
  
.blog-images-row {
    display: flex;
    width: 33.3%;
    flex-shrink: 1;
}

.blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-section-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    font-family: "Lucida Sans Unicode","Lucida Grande","sans-serif" !important;
    font-size: 1.5em !important;
    line-height: 1.4em !important;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#btnControl {
    display: none;
}

#btnControl:checked + label {
    animation: bounce !important;
    animation-duration: 1s !important;
}

.carousel-image {
    width: 100%;
    
}

center {
    font-size: 1.4em !important;
    margin-bottom: 10px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dark-mode {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.empty-section {
    height: 700px;
}


#existential-crisis {
    margin-bottom: 40px !important;
}

.fa-linkedin {
    font-size: 1.3em !important;
    background: black;
    color: white !important;
}

.fa-github {
    font-size: 1.3em !important;
    background: black;
    color: white !important;
}

h1 {
    margin-bottom: 30px !important;
}

h2 {
    font-size: 2.0em !important;
}

iframe {
    width: 850px;
    height: 500px;
    border-radius: 10px;
}

.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
}

#myCarousel {
    width: 850px;
    height: 500px;
}

.one-third-width {
    width: 33.3%;
}
  
p {
    width: 60%;
    text-align: center;
    font-family: "Lucida Sans Unicode","Lucida Grande","sans-serif" !important;
    font-size: 1.6em !important;
    line-height: 1.4em !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

#parkour-video {
    margin-top: 160px;
}

#piano-video {
    margin-top: 85px;
}

.projects-header {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 200px !important;
}

.projects-video {
    outline: none;
    -webkit-transform: translateZ(0);
    border-radius: 22px;
    overflow: hidden;
}

#quote-container {
    margin-top: 20px;
    height: 70px;
    margin-bottom: 200px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.row-images-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 1;
    width: 90%;
}

.small-margin-bottom {
    margin-bottom: 0px;
}

.small-font {
    font-size: 1.2em !important;
}

.small-text {
    font-size: 0.8em !important;
    margin-top: 5px;
    margin-bottom: 50px;
}

.social-icons-container {
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-evenly;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.tagline {
    text-align: center;
    font-size: 1.5em;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    outline: none;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 120px;
    border-radius: 10px;
}